<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CIFaceFeature_Lena.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52D1A5931C0D452D00B4AA1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52D1A5AC1C0D452D00B4AA1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52D1A5B71C0D452D00B4AA1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
